<h1>Edit Existing Movie Listing</h1>

<form action="/movie/<%= @movie.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <fieldset>

    <label for="Title">Film Title</label>
    <input type="text" name="title" value="<%= @movie.title %>">  

    <label for="Year">Year</label>
    <input type="year" name="year" value="<%= @movie.year %>">

    <label for="Genre">Genre</label>
    <input type="text" name="genre" value="<%= @movie.genre %>">
  </fieldset>

  <label><input type="submit" name="Submit"></label>


</form>