
<h2>This is a Cinefile's Playground Let's find some flix!</h2>

<h4>Today is <em><%= Time.now.strftime('%A') %></em>, what would you like to watch?</h4>

<ul>
  <li><a href="/movies">Main Movie List</a></li>
  <li><a href="/movies/new">Build Your Repertoire</a></li>
</ul>