<h1> Welcome to <%= @movie_app_name %> </h1>
<h3>Let's find some flix!</h3>
<h4>Today is <%= Time.now.strftime('%A') %> What would you like to watch?</h4>

<ul>
  <li><a href="/movies">Main Movie List</a></li>
</ul>