
<h2 class="greeting">This is a Cinefile's Playground - Let's Find Some Flicks!</h2>

<h4>Today is <em><%= Time.now.strftime('%A') %></em>, what would you like to watch?</h4>

<ul>
  <li><a href="/movie">Main Movie List</a></li>
  <li><a href="/movie/new">Build Your Repertoire</a></li>
</ul>