<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tobflix | Playground For Cinefiles</title>
   <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
 <h1 class ="tobflix"><i class="fa fa-film"></i>  Tobflix  <i class="fa fa-film"></i></h1>
    <%= yield %>
  
</body>
</html>



