<h1>Build Your Buff: Add a New Title</h1>

<form action="/movie" method="post">
  <fieldset>

    <label for="Title">Film Title</label>
    <input type="text" name="title">  

    <label for="Year">Year</label>
    <input type="year" name="year">

    <label for="Genre">Genre</label>
    <input type="text" name="genre">
  </fieldset>

<!--   <fieldset>
    <label for="Priority">Viewing Priority</label>
   <label for=status>ASAP</label> <input type="radio" name="priority" value=1>
   <label for=status>Within the week</label> <input type="radio" name="priority" value=2>
   <label for=status>Within the month</label> <input type="radio" name="priority" value=3>
   <label for=status>Before the sequel comes out</label> <input type="radio" name="priority" value=4>
  </fieldset>
 -->

  <input type="submit" name="Submit">


</form>